@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}

.logo{
    width: 11rem;  
}
.partners{
    width: 100%;
}
p{
    font-size: 1.2rem;
}
.ac{
    width: 200px;
    height: 60px;
    margin-left: 25%;
}
.acStyle:hover{
  text-decoration: underline;
  color: #388e3C;
}
.bggreen{
    background: rgb(30,134,0);
    background: linear-gradient(135deg, rgba(30,134,0,1) 0%, rgba(76,175,80,1) 60%);
}
.modalvideo{
    max-width: max-content !important;
}

.error{
    color: red;
    font-size: 0.8em;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -40px 0 0 -24px;;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #43a047;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
.bgGradient{
  
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);

}

.google-btn {
  width: 97%;
  height: 42px;
  margin: 10px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 12px 155px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669F2;
}

.facebook-btn {
  width: 97%;
  height: 42px;
  margin: 10px;
  background-color: #3c579e;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.facebook-btn .facebook-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.facebook-btn .facebook-icon {
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
  width: 24px;
  height: 24px;
}
.facebook-btn .btn-text {
  float: right;
  margin: 12px 137px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.facebook-btn:hover {
  box-shadow: 0 0 6px #3c579e;
}
.facebook-btn:active {
  background: #3c579e;
}

.separator--light {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #969ea2;
  font-size: 1.3rem;
}
.separator {
  display: flex;
  position: relative;
  margin: 2rem 0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.separator__content {
  margin: 0 3rem;
  position: absolute;
  left: 10.4rem;
  font-size: 17px;
}


.btn.btn-green { color: #fff; background-color: #4caf50; }
.btn.btn-green:hover { background-color: #43a047; }
.btn.btn-green.active { background-color: #388e3C; }

.btn.btn-white { color: #4caf50; background-color: #fff; }
.btn.btn-white:hover { background-color: #fff; }
.btn.btn-white.active { background-color: #fff; }

.section-title { position: relative; padding-bottom: 1rem; margin-bottom: 1em; text-align: center; }
.section-title::before, .section-title::after { content: ""; position: absolute; left: 50%; background-color: #4a9d4e; }
.section-title::before { margin-left: -12rem; bottom: -.1rem; width: 24rem; height: .2rem; }
.section-title::after { margin-left: -6rem; bottom: -.2rem; width: 12rem; height: .4rem; }

@media screen and (min-width: 1440px) {
  /* Styles go here */
  .ac{
      margin-left: 34%;
  }
  .startTest{
    margin-right: 12% !important;
  }
}